/*
!/cefsimple
!/vs2010

/cefsimple/*.aps
/cefsimple/*.manifest
/cefsimple/CMakeLists.txt
/cefsimple/README-TRANSFER.txt

/vs2010/*
!/vs2010/cefsimple/
/vs2010/cefsimple/*
!/vs2010/cefsimple/Release/
/vs2010/cefsimple/Release/ui/easyui/

*.log
*.lnk
